html {
  height: 100%;
}
html,
body,
.container-fluid {
  background-color: #dcdcdc;
  padding: 0;
  height: 100%;
}

.signUp,
.signIn {
  background-color: white;
}
.active {
  border-bottom: 1px solid black;
}
.signIn {
  padding-bottom: 20px;
}
.image-container {
  width: 100%;
  height: 100%;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  right: 0;
  left: unset;
}
/* .image-container > .burger-image {
  width: 100%;
  height: 100%;
} */

.linkinNav {
  color: rgba(0, 0, 0, 0.5);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
